@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/l?primer=9e9145798bfc6b7954a6cb7abc2ead67980260945baf1d129a2d2e98d0352745&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/d?primer=9e9145798bfc6b7954a6cb7abc2ead67980260945baf1d129a2d2e98d0352745&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/a?primer=9e9145798bfc6b7954a6cb7abc2ead67980260945baf1d129a2d2e98d0352745&fvd=n7&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/78aca8/00000000000000007735e60d/30/l?primer=9e9145798bfc6b7954a6cb7abc2ead67980260945baf1d129a2d2e98d0352745&fvd=n6&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/78aca8/00000000000000007735e60d/30/d?primer=9e9145798bfc6b7954a6cb7abc2ead67980260945baf1d129a2d2e98d0352745&fvd=n6&v=3")
      format("woff"),
    url("https://use.typekit.net/af/78aca8/00000000000000007735e60d/30/a?primer=9e9145798bfc6b7954a6cb7abc2ead67980260945baf1d129a2d2e98d0352745&fvd=n6&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/l?primer=9e9145798bfc6b7954a6cb7abc2ead67980260945baf1d129a2d2e98d0352745&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/d?primer=9e9145798bfc6b7954a6cb7abc2ead67980260945baf1d129a2d2e98d0352745&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/a?primer=9e9145798bfc6b7954a6cb7abc2ead67980260945baf1d129a2d2e98d0352745&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/3322cc/00000000000000007735e616/30/l?primer=9e9145798bfc6b7954a6cb7abc2ead67980260945baf1d129a2d2e98d0352745&fvd=i4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/3322cc/00000000000000007735e616/30/d?primer=9e9145798bfc6b7954a6cb7abc2ead67980260945baf1d129a2d2e98d0352745&fvd=i4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/3322cc/00000000000000007735e616/30/a?primer=9e9145798bfc6b7954a6cb7abc2ead67980260945baf1d129a2d2e98d0352745&fvd=i4&v=3")
      format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "brandon-grotesque";
  src: url("https://use.typekit.net/af/8f4e31/0000000000000000000132e3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/8f4e31/0000000000000000000132e3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/8f4e31/0000000000000000000132e3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: white;
  font-family: "proxima-nova", sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Proxima", sans-serif;
  color: rgb(var(--foreground-rgb));
  background-color: #1a2c38;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.boxSh {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2),
    0 4px 6px -2px rgba(0, 0, 0, 0.1);
}

.boxShButton {
  box-shadow: 0rem 0.0625rem 0.1875rem #00000033,
    0rem 0.0625rem 0.125rem #0000001f;
}

.thumbnail {
  transition-duration: 0.25s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: transform;
  border-radius: 0.25rem;
  aspect-ratio: 40/21;
}

.article-container:hover .article-img {
  transform: translateY(-0.5rem);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.shadow-custom {
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2),
    0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  --tw-shadow-colored: 0 3px 3px -2px var(--tw-shadow-color),
    0 3px 4px 0 var(--tw-shadow-color), 0 1px 8px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.icon-container:hover {
  background-color: #2f4553;
}

.icon-container {
  transition: all 0.25s;
}

.icon-container:hover .icon-icon {
  transform: translateX(0.5rem);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.icon-icon {
  transition: all 0.3s;
}

.lightGray-important * {
  color: #b1bad3 !important;
}

@media (min-width: 0px) and (max-width: 640px) {
  .detail-container {
    padding: 30px 20px;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  .detail-container {
    padding: 30px 20px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .detail-container {
    padding: 30px 250px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .detail-container {
    padding: 30px 300px;
  }
}

@media (min-width: 1280px) and (max-width: 1535px) {
  .detail-container {
    padding: 30px 350px;
  }
}

@media (min-width: 1536px) {
  .detail-container {
    padding: 30px 350px;
  }
}

.dangerous-div {
  padding: 0;
  margin: 0;
}

.dangerous-div h1 {
  font-weight: bold !important;
  font-size: 20px !important;
  color: #fff !important;
  padding: 0;
  margin: 0;
  line-height: 0.1;
}

.dangerous-div h2 {
  font-weight: bold !important;
  font-size: 20px !important;
  color: #fff !important;
  padding: 0;
  margin: 0;
  line-height: 0.1;
}

.dangerous-div p {
  font-size: 16px !important;
  padding: 0;
  margin: 0;
  line-height: 0.1;
}
