@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: white;
  font-family: inter;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Proxima", sans-serif;
  color: rgb(var(--foreground-rgb));
  background-color: #1a2c38;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.boxSh {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2),
    0 4px 6px -2px rgba(0, 0, 0, 0.1);
}

.boxShButton {
  box-shadow: 0rem 0.0625rem 0.1875rem #00000033,
    0rem 0.0625rem 0.125rem #0000001f;
}

.thumbnail {
  transition-duration: 0.25s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: transform;
  border-radius: 0.25rem;
  aspect-ratio: 40/21;
}

.article-container:hover .article-img {
  transform: translateY(-0.5rem);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.shadow-custom {
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2),
    0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  --tw-shadow-colored: 0 3px 3px -2px var(--tw-shadow-color),
    0 3px 4px 0 var(--tw-shadow-color), 0 1px 8px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.icon-container:hover {
  background-color: #2f4553;
}

.icon-container {
  transition: all 0.25s;
}

.icon-container:hover .icon-icon {
  transform: translateX(0.5rem);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.icon-icon {
  transition: all 0.3s;
}
